<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="heading">
                <h2>Event details ({{event.year}})</h2>
            </div>
            <div id="location">
                <strong>Location:&nbsp;</strong>
                <div>
                    <a href="{{event.locationUrl}}" target="_blank" rel="noopener noreferrer">
                        {{#each event.locationAddress}}
                        <span>{{this}}<br></span>
                        {{/each}}
                    </a>
                </div>
            </div>
            <div><strong>Date:&nbsp;</strong>{{event.shortDate}}</div>
            <div><strong>Time:&nbsp;</strong>{{event.time}}</div>
            <br>
            {{#if event.hasVirtualMeetup}}
            <div>
                <strong>Can't make it to the physical meetup?:&nbsp;</strong><br />
                <span>Join the <a href="{{event.discordInviteUrl}}" target="_blank" rel="noopener noreferrer"
                        class="discord">Virtual Meetup Discord</a></span>
            </div>
            <br />
            {{/if}}
            <div><strong>Hashtags to use:&nbsp;</strong><br>
                {{#if event.hasNmsSocialHashtag}}
                <a href="https://nomanssky.social/tags/NMSMeetup{{event.year}}" title="No Man's Sky Social Hashtag"
                    target="_blank" rel="nopener noreferrer">#NMSMeetup{{event.year}} on No Man's Sky Social</a><br>
                {{/if}}
                {{#if event.hasTwitterHashtag}}
                <a href="https://twitter.com/hashtag/NMSMeetup{{event.year}}" title="Twitter Hashtag" target="_blank"
                    rel="nopener noreferrer">#NMSMeetup{{event.year}} on Twitter/X</a>
                {{/if}}
            </div>
        </div>
        {{#if event.youtubeEmbed}}
        <div class="col-7 ta-center noselect">
            <iframe width="520" height="290" src="{{event.youtubeEmbed}}" title="YouTube video player"
                allow="autoplay; picture-in-picture"></iframe><br/>
            <i class="caption">{{event.youtubeCaption}}</i>
        </div>
        {{/if}}
        {{#if event.bannerImg}}
        <div class="col-7 ta-center noselect">
            <img src="{{event.bannerImg}}" class="rounded" alt="{{event.year}} banner" />
            <i class="caption">{{event.bannerCaption}}</i>
        </div>
        {{/if}}
        <div class="col-12">
            <div><strong>Food:&nbsp;</strong>{{event.foodNotice}}</div>
        </div>
    </div>
</div>